In [6]:
x = [1, 4, 6]
y = [10, 20 ,2]
z = list(zip(x,y))
z

[(1, 10), (4, 20), (6, 2)]

##### Prof. Josenalde Oliveira@TADS@UFRN
##### Lendo um arquivo json para um dataframe

In [17]:
import pandas as pd
import json

with open('tab3.json') as f:
    d = json.load(f)

df = pd.json_normalize(d['tab3']) # tab3 é o nível 0 na hierarquia do json
df

   _id  inscricao  responsavel
0    1     201601       201603
1    2     201602       201602
2    3     201603       201603
3    4     201604       201604
4    5     201605       201603
5    6     201606       201602

Esta é uma equação: $x^2 + y_3 + \frac{2}{5} = 10$