![](realpython.jpg)
Básico de Python para aplicação em ciência de dados. Em primeiro lugar, atenção que Python usa indentação e não chaves para delimitar blocos de código:

In [3]:
for i in [1, 2, 3, 4, 5]:
    print(i) #primeira linha para o bloco for i
    for j in [1, 2, 3, 4, 5]:
        print(j, i+j, sep='\t') #primeira linha para o bloco for j
        #str = 'laço interno j: {0}'
        #print(str.format(j))
        #print(i + j) #ultima linha para o bloco for j
    print(i) #ultima linha para o bloco for i
print('Fim do loop encadeado')

1
1	2
laço interno j: 1
2	3
laço interno j: 2
3	4
laço interno j: 3
4	5
laço interno j: 4
5	6
laço interno j: 5
1
2
1	3
laço interno j: 1
2	4
laço interno j: 2
3	5
laço interno j: 3
4	6
laço interno j: 4
5	7
laço interno j: 5
2
3
1	4
laço interno j: 1
2	5
laço interno j: 2
3	6
laço interno j: 3
4	7
laço interno j: 4
5	8
laço interno j: 5
3
4
1	5
laço interno j: 1
2	6
laço interno j: 2
3	7
laço interno j: 3
4	8
laço interno j: 4
5	9
laço interno j: 5
4
5
1	6
laço interno j: 1
2	7
laço interno j: 2
3	8
laço interno j: 3
4	9
laço interno j: 4
5	10
laço interno j: 5
5
Fim do loop encadeado

Como Python ignora espaços em branco dentro dos parênteses e colchetes, é interessante para 'quebrar' linhas longas de código ou para tornar mais legível. A barra invertida também serve para indicar que o comando continua na próxima linha

In [3]:
x = (1 + 2 + 3 + 4 + 5 + 6 +
    7 + 8 + 9)
listaDeListas = [[1,2,3],
                 [4,5,6],
                 [7,8,9]]
usoDaBarra = 10 + \
             20

Os módulos (ou bibliotecas) em Python são importados com a palavra reservada **import**. Por exemplo. De o nome do módulo é longo ou mais complicado, pode-se criar um apelido (alias) para referenciar no código. Se precisar de valores específicos de um módulo, pode importar explicitamente, sem necessidade de usar o nome qualificado (.)

In [8]:
import re # funções e constantes para lidar com expressões regulares
import matplotlib.pyplot as plt # a partir daqui basta usar plt e seus métodos para gerar gráficos
from collections import defaultdict, Counter # outra forma de importar
tabela = defaultdict(list)
contador = Counter()

Em Python 3, o operador de divisão / já trata como float/double, portanto o resultado é fracionário. Para ter uma divisão de inteiros, pode-se usar //

In [11]:
print(5/2)
print(5//2)

2.5
2

Funções: em Python usa-se a palavra reservada <code>def</code>

In [16]:
def double(x):
    """texto de ajuda  da função
       explicando o que faz etc"""
    return x*2 #potencia usa o operador **
y = 4
print(double(y))
print(y**2)

8
16

As funções em Python são de primeira classe, ou seja, podem ser atribuídas a variáveis e serem passadas como argumentos normalmente

In [17]:
def recebeFunc(f):
    return f(1)
x = double #atribui a função double
z = recebeFunc(x)
print(z)

2

Função anônima ou lambda:

In [18]:
y = recebeFunc(lambda x: x + 4)
print(y)

5

Parâmetros inicializados (default)

In [20]:
def imprime(msg = 'msg padrão'):
    print(msg)
imprime('tads ufrn data science')
imprime()

def subtrai(a=0,b=0):
    return a - b

subtrai(10,5)
subtrai(0,5)
subtrai(b=5)

tads ufrn data science
msg padrão

-5

Strings em Python podem ser delimitadas por aspas simples ou duplas. A função len() retorna o tamanho. Strings múltiplas são definidas com aspas triplas ou duplas.

In [26]:
str1 = "teste de string"
print(str1)

teste de string

Exceções tal como noutras linguagens usa o try, porém ao invés de catch, usa except

In [27]:
try:
    print(0/0)
except ZeroDivisionError:
    print('impossivel dividir')

impossivel dividir

Estruturas de Dados nativas em Python:
1) Listas - coleção ordenada, podendo ser heterogênea. Indexação começa no 0 assim como C/C++

In [33]:
lista1 = [1,2,3]
lista2 = ['string', 0.1, True]
listaDeListas = [lista1, lista2, []]
print(len(lista1)) #quantos elementos
print(sum(lista1)) #soma elementos
listaDeListas

3
6

[[1, 2, 3], ['string', 0.1, True], []]

In [42]:
x = range(9) # = [0,1,..,9]
x[0]

0

In [45]:
last = x[-1] #ultimo elemento
last

8

In [44]:
tresPrimeiros = list(x[:3]) #muda de range para lista
tresPrimeiros #ate o indice 2

[0, 1, 2]

In [43]:
terceiroAoFim = list(x[3:])
terceiroAoFim # do indice 3 em diante

[3, 4, 5, 6, 7, 8]

In [47]:
faixa = x[1:5]
faixa
ultimosTres = x[-3:]
ultimosTres

range(6, 9)

In [49]:
y = x # ou x[:]
y

range(0, 9)

Algumas operações básicas:

In [50]:
#checar elemento na lista
1 in [1,2,3]

True

In [51]:
x = [1, 2, 3]
x.extend([4,5,6])
x
# ou y = x + [4,5,6] não altera a lista original x

[1, 2, 3, 4, 5, 6]

In [53]:
#Adicionando um item por vez
x.append(15) #nao há método push como noutras linguagens
x

[1, 2, 3, 4, 5, 6, 15, 15]

In [55]:
x.pop() # remove ultimo elemento da lista (de maior indice)
x

[1, 2, 3, 4, 5, 6]

Retirar elementos das listas

In [58]:
x, y = [1, 2] # ou _, y [1,2] se o primeiro elemento não interessa
x, y

(1, 2)

Tuplas são similares às listas, mas não podem ser modificadas. São definidas com parânteses ou sem uso de delimitadores. Portanto os comandos <code>tup1 = (3,4)<code> é equivalente à <code>tup1 = 3,4<code>, mas é mais 'pythonic' usar parênteses

In [60]:
tup1 = (3,4)
tup1[1] = 2 #Erro, não pode modificar ('tuple' object does not support item assignment)

TypeError: 'tuple' object does not support item assignment

São úteis, por exemplo, para retornar múltiplos valores de funções

In [61]:
def somaMultiplica(x, y):
    return (x+y), (x*y)

sp = somaMultiplica(2,3)
sp

(5, 6)

Swap bem simples com Tuplas

In [62]:
x, y = 10, 20
x, y = y, x #pythonic
x, y

(20, 10)

Dicionários são estruturas fundamentais e muito utilizadas em Python, pois associam chaves e valores, se assemelhando aos padrões JSON e estruturas em bases NoSQL. Veremos também como associar dicionários a dataframes Pandas.

In [63]:
dicVazio = {} # chaves para dicionários, parênteses para tuplas e colchetes para listas
notas = {'Pedro': 8.5, 'Paulo': 7.2} # definindo um dicionário, no padrão CHAVE: VALOR
#consulta
notas['Pedro']

8.5

Há como checar se uma chave está no dicionário, usando <code>in<code>. Caso seja consultada uma chave inexistente retorna KeyError

In [64]:
'joel' in notas

False

In [65]:
'pedro' in notas #retorna Falso, pois é sensível ao caso

False

In [66]:
'Pedro' in notas

True

In [68]:
try:
    notas['joel']
except KeyError:
    print('chave inexistente')

chave inexistente

In [69]:
notas.get('joel', 0) #não gera exceção, retornando 0 se não houver chave

0

Pode-se adicionar um registro ao dicionário, de modo direto, e modificar algum valor:

In [70]:
notas['Pedro'] = 10.0
notas['Ana'] = 5.0
#função len retorna tamanho do dicionário, número de registros
len(notas)

3

In [71]:
notas.items() #exibe itens no dicionário

dict_items([('Pedro', 10.0), ('Paulo', 7.2), ('Ana', 5.0)])

In [74]:
for nome, conceito in notas.items(): #forma de varredura no dicionário
    print(nome)
    print(conceito)

Pedro
10.0
Paulo
7.2
Ana
5.0

In [80]:
tweet = { #dicionario representando dados estruturados
    'user': 'josenalde',
    'text': 'fundamentos em data science@tadsufrn',
    'retweet_count' : 100,
    'hashtags' : ['#data', '#science', '#datascience', '#tads', '#ufrn']
}

keys = tweet.keys() #lista de chaves
values = tweet.values() # lista de valores
items = tweet.items() # lista de (chave, valor) em tuplas

keys

dict_keys(['user', 'text', 'retweet_count', 'hashtags'])

In [82]:
'user' in tweet
'josenalde' in values

True

As chaves são imutáveis e não se pode usar lists como chaves. Aplicação num contador de palavras, de três formas diferentes

In [85]:
wc = {}
# DOCUMENT seria um arquivo aberto etc.
#for w in document: 
    if w in wc:
        wc[w] += 1
    else:
        wc[w] = 1
        
wc = {}
#for w in document:
    pc = wc.get(w,0) #se comporta bem com chaves perdidas
    wc[w] = pc + 1
    
# com defaultdict, ele é um dicionário comum, mas se tentar procurar uma chave que ele não possui, primeiro ele adiciona
# um valor para ela usando a função de argumento zero que você fornece aro criá-lo

from collections import defaultdict
wc = defaultdict(int) # produz 0 para a chave
#for w in document:
    wc[w] += 1

IndentationError: unexpected indent (<ipython-input-85-080beb844f82>, line 3)

defaultdict com listas

In [95]:
dlist = defaultdict(list) #produz lista vazia
dlist[2].append(1) #adiciona chave 2, valor 1
dlist
dlist2 = defaultdict(dict) #produz dict vazio
dlist2['Pedro']['Cidade'] = 'Natal'
dlist2

defaultdict(dict, {'Pedro': {'Cidade': 'Natal'}})

Um dicionário pode ser facilmente convertido para a estrutura principal da biblioteca PANDAS, o DataFrame, que pode ser visto como uma tabela, com linhas e colunas. As linhas podem ser acessadas por índices, e cada linha do DataFrame é uma estrutura Series, uma sequência de valores indexados. Cada CHAVE do dicionário é uma Coluna do DataFrame, com suas respectivas listas de valores preenchendo aquela coluna. A lista (e ordem) de colunas podem ser informadas no construtor do DataFrame. Caso seja omitido, é considerada a ordem alfabética das chaves para criar a sequência de colunas

In [2]:
data = {'ano': [2010, 2011, 2012,
                 2010, 2011, 2012,
                 2010, 2011, 2012],
        'time': ['FCBarcelona', 'FCBarcelona',
                'FCBarcelona', 'RMadrid',
                'RMadrid', 'RMadrid',
                'ValenciaCF', 'ValenciaCF',
                'ValenciaCF'] ,
        'vitorias': [30, 28, 32, 29, 32, 26, 21, 17, 19],
        'empates': [6, 7, 4, 5, 4, 7, 8, 10, 8],
        'derrotas': [2, 3, 2, 4, 2, 5, 9, 11, 11]
       }

import pandas as pd
cespanhol = pd.DataFrame(data , columns = ['ano', 'time', 'vitorias', 'empates', 'derrotas'])
cespanhol

    ano         time  vitorias  empates  derrotas
0  2010  FCBarcelona        30        6         2
1  2011  FCBarcelona        28        7         3
2  2012  FCBarcelona        32        4         2
3  2010      RMadrid        29        5         4
4  2011      RMadrid        32        4         2
5  2012      RMadrid        26        7         5
6  2010   ValenciaCF        21        8         9
7  2011   ValenciaCF        17       10        11
8  2012   ValenciaCF        19        8        11

In [6]:
cespanhol[cespanhol['ano'] > 2011]

    ano         time  vitorias  empates  derrotas
2  2012  FCBarcelona        32        4         2
5  2012      RMadrid        26        7         5
8  2012   ValenciaCF        19        8        11

Retornaremos ao Pandas mais adiante

Conjuntos (set) representa uma coleção de objetos distintos. A operação in é muito mais rápida em conjuntos do que em listas e também é útil para encontrar objetos distintos numa coleção

In [108]:
s = set()
s.add(1)
s.add(2)
s.add(2) # não adicionou, pois já estava no conjunto
s

{1, 2}

In [110]:
2 in s

True

In [113]:
stopwords = ['e', 'nao', 'de', 'por', 'entre']
stopwordset = set(stopwords)
'na' in stopwords

False

Controle de Fluxo: condicional, repetição

In [116]:
x=3
if x>2:
    msg = 'x>2'
elif x>3:
    msg = 'x>3'
else:
    msg = 'else'
print(msg)

x>2

In [119]:
p = 'par' if x%2 == 0 else 'impar'
p

'impar'

In [121]:
x = 0
while x<10:
    print(x), ' x < 10'
    x += 1

0
1
2
3
4
5
6
7
8
9

In [123]:
for x in range(10): # 0 até 9
    print(x)

0
1
2
3
4
5
6
7
8
9

In [126]:
for x in range(10):
    if (x==3):
        continue # skip, incrementa contador e vai para próxima iteração
    if (x==5):
        break # sai do laço
    print(x)

0
1
2
4

Funções all e any são importantes para testar presença de VERDADEIROS. Atenção que Python interpreta como FALSO: False, None, [], {}, "" set(), 0, 0.0

In [128]:
all([True, 1, {3}])

True

In [130]:
all([True, 1, {}])

False

In [132]:
any([True, 1, {}])

True

Ordenação

In [135]:
x = [4, 1, 2, 3]
y = sorted(x)
print(y)
print(x)
x.sort() #altera x
x

[1, 2, 3, 4]
[4, 1, 2, 3]

[1, 2, 3, 4]

In [137]:
y = sorted(x, reverse=True)
y

[4, 3, 2, 1]